<div class="row-fluid">
    <div class=" well span9">
	   <%= form_for @blog, :html=>{:multipart => true } do |f|  %>
	       <%= render 'shared/error_messages', :object => f.object %>
           <%= f.hidden_field :id %>
           <fieldset>
                <div class="control-group">
                    <label class="control-label">Title</label>
                    <div class="controls">
                        <%= f.text_field :title , :class => "input-xxxlarge" ,:placeholder => "Please enter the title for your blog"%>
                    </div>
                </div>
            </fieldset>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn" href="#" onclick="insertString(0)"><i class="icon-bold"></i></a>
                    <a class="btn" href="#" onclick="insertString(1)"><i class="icon-align-justify"></i>  &lt/code&gt</a>
                </div>
            </div>
            </br>
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <%= f.text_area :body , :cols => 200, :rows => 25 , :class => "input-textarea" ,:placeholder => "Pen is mightier than sword"%>
                    </div>
                </div>
            </fieldset>
            <div class="attachments">
                <%= f.fields_for :attachments do |builder| %>
                    <%= render "common/attachment_fields", :f => builder %>
                <% end %>
                <%= link_to_add_fields("Add attachments", f, :attachments) %>
            </div>
            </br>
            </br>
            <button type="Submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn">Cancel</button>
	   <% end %>
    </div>
    <div class="well span3">
        <p> Test or help links</p>
    </div>
</div>