<div>
	<div class="well well-small"><h3> <%= blog.title %></h3></div>
	<hr/>
	<div>
		<%= RedCloth.new(codeHighlight(blog.body)).to_html.html_safe %>
	</div>
	
	<% if blog.images.all.count > 0 %>
	<hr/>
	<div>
		<h5>Images</h5>
		<% blog.images.all.each do |image| %>
		    <%= image_tag image.file_url(:thumb).to_s %>
		<% end %> 
	</div>
    <% end %>
    <hr/>
	<% if blog.attachments.all.count > 0 %>
	<div>
		<h5>Attachements</h5>
		<% blog.attachments.all.each do |attachment| %>
		    <%= link_to File.basename(attachment.file_url.to_s), attachment.file_url.to_s %>
		<% end %> 
	</div>
    <hr/>
    <% end %>
	<div class="row-fluid">
		<div class="span2">
			<% if current_user?(blog.user) %>
			  <%= link_to "Edit blog", edit_blog_path(blog) ,:class => "btn btn-primary"%>
			<% end %>
		</div>
		<div class="span2 offset8">
			<h5><%= blog.user.username %></h5>
			<h5><%= blog.created_at %></h5>
		</div>
	</div>
</div>