<div>
  <div class="banner"><h1> <%= blog.title %> </h1><h4>  <%= blog.user.lastname + ',' + blog.user.firstname %>  </h4><i> <%= blog.created_at %> </i></div>
	<%= RedCloth.new(codeHighlight(blog.body)).to_html.html_safe %>
	<div>
			<% if current_user?(blog.user) %>
			  <%= link_to "Edit blog", edit_blog_path(blog) ,:class => "btn btn-primary"%>
			<% end %>
	</div>

    <% if blog.attachments.all.count > 0 %>
      	<div class="attachements">
           	<h3>Attachements</h3>
           	<ul>
           		<% blog.images.all.each do |image| %>
	    			<li><%= link_to (image_tag image.file_url(:thumb).to_s ,:class=>"img-polaroid") , "baamvdialog", :class => 'dialogopener' ,:data=>{:src=>image.file_url(:show).to_s} %></li>
				<% end %> 
            </ul>
        </div>
    <% end %>

    <% if blog.images.all.count > 0 %>
      	<div class="images">
           	<h3>Images</h3>
           	<ul>
           		<% blog.images.all.each do |image| %>
		    		<li><%= link_to (image_tag image.file_url(:thumb).to_s ,:class=>"img-polaroid") , "baamvdialog", :class => 'dialogopener' ,:data=>{:src=>image.file_url(:show).to_s} %></li>
		    
				<% end %> 
           	</ul>
   	    </div>
   	 <% end %>
</div>

