<div class="div-basic">
    <div id="blog-edit">
	   <%= form_for @blog, :html=>{:multipart => true } do |f|  %>
	       <%= render 'shared/error_messages', :object => f.object %>
           <%= f.hidden_field :id %>
           <fieldset>
                <div >
                    <label>Title</label>
                    <div>
                        <%= f.text_field :title , :class => "input-xxxlarge" ,:placeholder => "Please enter the title for your blog",:size=>60%>
                    </div>
                </div>
            </fieldset>
            
            <div id="tool-box" class="depth-line-top">
                <div>
                    <a href="#" class="button button-normal button-medium" onclick="insertString(0)"><i class="icon-bold"></i></a>
                    <a href="#" class="button button-normal button-medium" onclick="insertString(1)"><i class="icon-align-justify"></i></a>
                </div>
            </div>
            </br>
            <fieldset>
                <div>
                    <div>
                        <%= f.text_area :body , :cols => 190, :rows => 25 , :class => "input-textarea" ,:placeholder => "Pen is mightier than sword"%>
                    </div>
                </div>
            </fieldset>
            <h4> Upload Attachments </h4>
            <div class="attachments">
                <%= f.fields_for :attachments do |builder| %>
                    <%= render "common/attachment_fields", :f => builder %>
                <% end %>
                <%= link_to_add_fields("Add attachments", f, :attachments) %>
            </div>
            <h4> Upload Images </h4>
            <div class="attachments">
                <%= f.fields_for :images do |builder| %>
                    <%= render "common/image_fields", :f => builder %>
                <% end %>
                <%= link_to_add_fields("Add Images", f, :images) %>
            </div>
            </br>
            </br>
            <button class="button button-normal button-medium" type="Submit" >Submit</button>
            <button class="button button-normal button-medium" type="button" >Cancel</button>
	   <% end %>
    </div>
</div>