<% provide(:title, "Login to your account") %>
<div id="login-box">
<h2 class="depth-line-bottom"> Login </h2>
<%= form_tag session_index_path do |f| %>
   <%= hidden_field_tag :return_path, params[:return_path] %>
	<div >
		<fieldset>
        	<div >
            	<label >Email</label>
            	<div >
                	<%= text_field_tag :email ,params[:email], :placeholder => "Enter email" , :type => "text" , :size=>25%>
            	</div>
        	</div>
    	</fieldset>
		<fieldset>
        	<div >
            	<label >Password</label>
            	<div >
                	<%= password_field_tag :password, "", :placeholder => "Password" , :type => "password", :size=>25 %> 
            	</div>
        	</div>
    	</fieldset>
        <fieldset>
            <%= check_box_tag :remember_me, 1, params[:remember_me] %><label> Remember Me</label>
        </fieldset>
        <fieldset>
    	   <button type="submit" class="button button-normal button-medium">Login</button>
        </fieldset>
    	<p>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>
	<% end %>
    <div style="min-height:300px;"></div>
</div>
