<% provide(:title , "New user sign up ") %>
<div id="new-user" class="div-basic">
<h1>Sign Up</h1>
<div class="well">
<%=  form_for(@user) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

    <fieldset>
        <div class="control-group">
            <label class="control-label">Email:</label>
            <div class="controls">
                <%= f.text_field :email %>
                <p class="help-block">Please enter a valid email address</p>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="control-group">
            <label class="control-label">Username:</label>
            <div class="controls">
                <%= f.text_field :username %>
                <p class="help-block">Please enter a user name for your account</p>
            </div>
        </div>
    </fieldset>
   
    <fieldset>
        <div class="control-group">
            <label class="control-label">Password:</label>
            <div class="controls">
                <%= f.password_field :password %> 
                 <p class="help-block">Please enter the password for this account</p>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="control-group">
            <label class="control-label">Re-enter Password:</label>
            <div class="controls">
                <%= f.password_field :password_confirmation %> 
                 <p class="help-block">Please re-enter the password for this account</p>
            </div>
        </div>
    </fieldset>
    <fieldset>
    	<div class="control-group">
            <label class="control-label">First name:</label>
            <div class="controls">
                <%= f.text_field :firstname %>
            </div>
        </div>
    </fieldset>

    <fieldset>
    	<div class="control-group">
            <label class="control-label">Initial:</label>
            <div class="controls">
                <%= f.text_field :initial %>
                <p class="help-block">Optional</p>
            </div>
        </div>
    </fieldset>

    <fieldset>
    	<div class="control-group">
            <label class="control-label">Last name:</label>
            <div class="controls">
                <%= f.text_field :lastname %>
            </div>
        </div>
    </fieldset>

    <fieldset>
    	<div class="control-group">
            <label class="control-label">Sex:</label>
            <div class="controls">
                <%= f.select :sex,{:MALE=>:MALE, :FEMALE=>:FEMALE} %>
            </div>
        </div>
    </fieldset>

      <fieldset>
        <div class="control-group">
            <label class="control-label">Country:</label>
            <div class="controls">
                <%= 
                    if !Country.find_by_code("US").nil? 
                        f.select :country_id, Country.all.map{ |country| [country.name , country.id] }  ,{:selected => Country.find_by_code("US").id}
                    else
                        f.select :country_id,[],{:insert_blank => true}
                    end
                %>
                <p class="help-block">Please select the country</p>
            </div>
        </div>
    </fieldset> 

     <fieldset>
        <div class="control-group">
            <label class="control-label">State:</label>
            <div class="controls">
                <%= 
                   if !Country.find_by_code("US").nil? and !Country.find_by_code("US").states.nil?
                       f.select :state_id, Country.find_by_code("US").states.map{ |state| [state.name , state.id] } 
                   else
                       f.select :state_id ,[], { :insert_blank => true }
                   end
                   
                 %>
                <p class="help-block">Please enter the State/Province</p>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="control-group">
            <label class="control-label">City</label>
            <div class="controls">
                <%= f.text_field :city %>
                <p class="help-block">Please enter the city/town</p>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="control-group">
            <label class="control-label">Phone</label>
            <div class="controls">
                <%= f.text_field :phone %>
                <p class="help-block">Please enter  your phone number</p>
            </div>
        </div>
    </fieldset>

    <br/>
    <br/>
    <button type="submit" class="button button-normal button-medium">Submit</button>
    <button type="button" class="button button-normal button-medium">Cancel</button>
<% end %>
</div>
</div>

